@model IEnumerable<Note.EntityLayer.Concrete.AppNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Manager" asp-controller="Note" asp-action="Create" class="btn btn-primary">Yeni Not Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @item.CreatedDate.ToShortDateString()
                </td>
                <td>
                    @item.ModifiedDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    <a asp-area="Manager" asp-controller="Note" asp-action="Edit" asp-route-id=@item.ID class="btn btn-warning">Düzenle</a>
                    <a asp-area="Manager" asp-controller="Note" asp-action="Detail" asp-route-id=@item.ID class="btn btn-success">Detay</a>
                    <a asp-area="Manager" asp-controller="Note" asp-action="Delete" asp-route-id=@item.ID class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
