@model List<AppNoteListVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>İçerik</th>
            <th>Oluşturulma Tarihi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.CreatedDate.ToShortDateString()</td>
                <td><a asp-controller="home" asp-action="details" asp-route-id="@item.ID" class="btn btn-primary btn-sm">Detaylar</a></td>
            </tr>
        }
    </table>

</div>
